
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
    --black: #160F29;
    --green: #1B998B;
    --red: #FF6663;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

/* HERO */

#hero {
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    color: var(--black);
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 2.3rem;
    margin-top: 100px;
    padding-left: 20px;
    position: relative;
}

#hero p {
    display: block;
    width: fit-content;
    font-size: 1.3rem;
    padding-left: 20px;
    
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 35px;
    justify-content: flex-end;
}

.primary-cta {
    display: inline-block;
    /* margin-top: 13vh; */
    /* text-align: right; */
    margin: 125px 30px;
    font-size: 2rem;
    border-radius: 5rem;
    padding: 10px 30px;
    border: 4px solid var(--black);
    transition: .2s ease;
}

.primary-cta:hover {
    color:white;
    font-size: 1.9rem;
    border: 4px solid white;
}




/* Hero */

/* .hero {
    min-width: 100%;
    height: 50vh;
    background-image: url(/images/banner.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
}

.copy {
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero-title {
    margin-right: 25px;
    margin-top: 100px;
    text-align: right;
}

.hero-subhead {
    text-align: right;
    margin-right: 25px;
}

.hero-cta {
    text-align: right;
    margin: 30px 100px;
}

.mobile-menu-exit {
    display: none;
}

.nav-buttons {
    display: none;
}


.hero-fixed {
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    width: 2.5em;
}

.logo {
    font-size: 1.8em;
    font-weight: 700;
} */
